
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Homepage</title>

    <!-- Bootstrap core CSS -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link href="css/homepage.css" rel="stylesheet">
     <link href="css/product-slider-2.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100|Oswald:700|Quicksand:300" rel="stylesheet">
     

  </head>
  <body>

  <!-- Nav ******************************************************************************************-->
  <div style="background: #141414; position: relative;
  "><section class="container" id="homepage-title">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-uppercase" style="color: white;"><span class="text-danger">Weighted training Gears - </span>for serious fights   serious gears</h1>
      </div>
    </div><!--row vege-->
  </section>
  
  </div>



<!-- Carousel *****************************************************************************************************************-->

   <section id="carousel-section" style="border-top: 5px solid #a94442;" >
               <div id="brands" class="container" style="text-align: center">
        <div class="row">
          <div class="col-xs-12" style="text-align: center">
            <div style="display: inline;">
            <li><img src="img/products/gloves/everlast-logo.png"></li>
            <li><img src="img/products/weightedvest/Adidas-logo.png"></li>
            <li class="hidden-sm hidden-xs"><img src="img/products/weightedvest/cap-log.PNG"></li>
            <li><img src="img/products/weightedvest/mir-logo.png"></li>
            <li class="hidden-xs"><img src="img/products/gloves/title-logo.png"></li>
            </div>
          </div>
        </div>
    </div>
    <div class="sav">

      <div class="container"><!-- Carousel container-->
      <div class="row">
        
        <div class="col-xs-12 col-md-8" id="carousel">
                <div class="carousel slide" data-ride="carousel" id="myOne">

            <ol class="carousel-indicators">
              <li data-target="#myOne" data-slide-to="0" class="active"></li>
              <li data-target="#myOne" data-slide-to="1"></li>
              <li data-target="#myOne" data-slide-to="2"></li>
            </ol>

            <a class="right carousel-control" href="#myOne" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="left carousel-control" href="#myOne" role="button" data-slide="left">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>

            <div class="carousel-inner role="listbox">

              <div class="item active ">
                <img style=" width: 100%" src="img/tofight.jpg">
                
              </div>

              <div class="item">
                <img style=" width: 100%" src="img/andtowin.jpg">
               
              </div>
              <div class="item ">
                <img style=" width: 100%" src="img/everithing2.jpg">
                
              </div>

              <div class="item ">
                <img style=" width: 100%" src="img/endscene.jpg">
                
              </div>
              <div class="item ">
                <img style=" width: 100%" src="img/weightedtraininggears.com.jpg">
                
              </div>

              <a class="left carousel-control" href="#myOne" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myOne" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
              
            </div>
          </div>

        </div>
        <div class=" col-md-4 hidden-sm hidden-xs" id="hero-img-container"><img src="img/squat.png"></div>
        </div><!--id="carousel"-->
        
      </div>
      </div><!-- Carousel container-->
    </div><!--carousel sav-->

  </section>



    
  


    <!-- Bootstrap core JavaScript
        <div class="col-xs-12"><h2 class="text-left">Recomended Articles</h2></div>
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="js/buy_button.js"></script>-->
    <script type="text/javascript" src="js/product-slider-2.js"></script>
   <!--<script src="js/squat.js"></script>-->
    <script type="text/javascript" src="js/sidebar.js"></script>
    <script type="text/javascript" src="js/jumpthesidebar.js"></script>
    <script type="text/javascript" src="js/slideinoutsidebar.js"></script>
   <script type="text/javascript">
      $('.carousel').carousel({
        interval: 4000
        });

//---------------------------------------------------------------------------------------------------------
      window.addEventListener("DOMContentLoaded", function(){
    var ifjumbotron=1;    
    var movingElement=$("#left-side-absolute")[0];
    var meddigJohetVissza=5;
    var jumping=600;
    jumpTheSideBar(movingElement, meddigJohetVissza,jumping,ifjumbotron);

  });
      //----------------------------------------------------------------------------------------------------------------------------

    
   
 
