
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/screen.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100|Oswald:700|Quicksand:300" rel="stylesheet">


  </head>

  <body>
    <section class="article">
  <div class="container-wide">
    <div class="row">
      <div class="col-md-12 article">      
        <h1 class="col-md-8">Add resistance to your workouts with the most badass weighted vest: The Zfo40!</h1>
          <div class="text-slider-div">
          <p>Add resistance to your workouts with the most badass weighted vest: The Zfo40!
            As an athlete you’re looking to increase performance, increase heart and lung cardiovascular endurance, and to create a huge set of muscles. By doing so – at the end of every fight: you will be the one victorious…not lying on your back facing the ceiling! Using a weighted vest is exactly like carrying a little extra weight, it is the same as weight training, but allows for the freedom of movement to train in your element – as a fighter! Using a weighted vest is a fantastic idea to use during training – or at least for performance training!
          </p> 

          <p>And now entering into the picture: The Zfo40 weighted vest – this weighted vest is an outstanding addition to this perfect family of training gear; and even at an outrageously good price! Most individuals will worry that this weighted vest will shift or change positions as you move – that there is a need for constant readjustment, constantly halting progress. This particular weighted vest has straps conveniently placed across the abdomen as well as on the shoulders that are adjustable to tighten the weighted vest properly so that it will reduce movement and shifting while on. With these correctly placed straps, it becomes almost a second skin, moving with you, not against you - even during jumping exercises! Added features include: a secure MP3 pocket that will hold your music player for workouts, as well as adjustable weights from 0lbs to 40lbs!</p>
          <p>
            But how exactly can I get the most use out of my Zfo40 weighted vest? 
            The Zfo40, is unbelievably versatile no matter what your sport is: CrossFit, Marathon running, cycling, etc. It can be used for a multitude of exercises most notably: push-ups, and one-arm push-ups, pull-ups, chin ups, jump squats, one leg squats, rope climbing. By having the weighted vest on while exercising you immediately increase strength and power as you continue reaching higher intensities due to the added load that you aren’t used to carrying. 
            For boxers, a weighted vest is extremely helpful in improving mobility. Fighting and sparring with the Zfo40 an athlete will gradually build their punching range until it is quicker than a beam of sunlight! As well as the rotation of a fighter’s body will increase with ease using a weighted vest in rotation exercises so they can punch even stronger and faster. Although, there are shorter versions of weighted vests that may be more appropriate for abdominal exercises the Zfo40 does allow an athlete to perform abdominal exercises by twisting your crunching with added weight in the weighted vest. 
          </p>
          <div>

          
          <img src="img/zfo.jpg"> 
      </div>




      <div class="col-md-4"></div>
    </div>
  </div>


</section>

   
  


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/script.js"></script>
  </body>
</html>
