
/* Responsive Vidi */

.vidi-container{
	max-width: 400px;
}

.vidi{
	position: relative;
	padding-bottom: 56.25%;
}

.vidi iframe{
	position: absolute;
	height: 100%;
	width: 100%;
}

.video-tag{
	position: absolute;
	height: 100%;
	width: 100%;	
}

/*
	<div class="vidi-container">
		<div class="vidi">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/qdIdPBIF6MU" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<br>

	<div class="vidi-container">
		
		<div class="vidi">

			<video class="video-tag" width="320" height="240" controls>
			  <source src="vids/emmet.mp4" type="video/mp4">
			</video>

		</div>

	</div>
*/

/*END Responsive Vidi */

/* Tables */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*Tables END*/

/* Predefinded rules*/
dd {
    display: block;
    -webkit-margin-start: 40px;
}

li {
	margin-top: 10px;
}

.lesson-title{
	background-color: #cccccc7d
}

.aft-10{
	margin-bottom: 10px;
}

.aft-20{
	margin-bottom: 20px;
}

.aft-30{
	margin-bottom: 30px;
}

.aft-40{
	margin-bottom: 40px;
}

.aft-50{
	margin-bottom: 50px;
}

.bef-10{
	margin-top: 10px;
}

.bef-20{
	margin-top: 20px;
}

.bef-30{
	margin-top: 30px;
}

.bef-40{
	margin-top: 40px;
}

.bef-50{
	margin-top: 50px;
}

.ul-div-5{
	padding-right: 5px;
}

.ul-div-20{
	padding-left: 20px;
}

.font-16{
	font-size: 16px
}

.font-17{
	font-size: 17px
}

.font-18{
	font-size: 18px
}

.font-19{
	font-size: 19px
}

.font-20{
	font-size: 20px
}

/* Predefined rules END*/

/* Center the page title */


.page-title{

	background: #ccc;

}

.page-title div {

	height: 100px;
	text-align: center;
}

.page-title div:before {

	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;

}

.page-title h1{
	
	display: inline-block;
	margin-top: 10px;
	text-align: center;
  	vertical-align: middle;
}


