/*

Dependency:
	_mixins.css
	_global.css

	*/

.row {

	@mixin clearfix;


	/* atMedium ====================================== */
	@mixin atLarge {

			/* col-md-n */

			&__lg-1, &__lg-2, &__lg-3, &__lg-4, &__lg-5, &__lg-6, &__lg-7, &__lg-8, &__lg-9, &__lg-10, &__lg-11, &__lg-12 {
				float: left;
			}
			&__lg-12 {
				width: 100%;
			}
			&__lg-11 {
				width: 91.66666667%;
			}
			&__lg-10 {
				width: 83.33333333%;
			}
			&__lg-9 {
				width: 75%;
			}
			&__lg-8 {
				width: 66.66666667%;
			}
			&__lg-7 {
				width: 58.33333333%;
			}
			&__lg-6 {
				width: 50%;
			}
			&__lg-5 {
				width: 41.66666667%;
			}
			&__lg-4 {
				width: 33.33333333%;
			}
			&__lg-3 {
				width: 25%;
			}
			&__lg-2 {
				width: 16.66666667%;
			}
			&__lg-1 {
				width: 8.33333333%;
			}

			&__b-margin-until-lg {
					margin-bottom: 0;
			}

			/* END col-md-n*/
			
			/*$__lg--offset-n */

			&__lg--offset-12 {
				margin-left: 100%;
			}
			&__lg--offset-11 {
				margin-left: 91.66666667%;
			}
			&__lg--offset-10 {
				margin-left: 83.33333333%;
			}
			&__lg--offset-9 {
				margin-left: 75%;
			}
			&__lg--offset-8 {
				margin-left: 66.66666667%;
			}
			&__lg--offset-7 {
				margin-left: 58.33333333%;
			}
			&__lg--offset-6 {
				margin-left: 50%;
			}
			&__lg--offset-5 {
				margin-left: 41.66666667%;
			}
			&__lg--offset-4 {
				margin-left: 33.33333333%;
			}
			&__lg--offset-3 {
				margin-left: 25%;
			}
			&__lg--offset-2 {
				margin-left: 16.66666667%;
			}
			&__lg--offset-1 {
				margin-left: 8.33333333%;
			}
			&__lg--offset-0 {
				margin-left: 0;
			}

			/* END &__medium--offset-n */

			/*  */
			
			&--gutter-md {
				margin-right: -65px;
			}

			&--gutter-md > div {
				padding-right: 65px;
			}

			&--gutter-md-small {
				margin-right: -45px;
			}
		
			&--gutter-md-small > div {
				padding-right: 45px;
			}

		} /* END @mixin atMedium*/
	/* END atMedium ================================== */
	
	/* atMedium ======================================= */
	@mixin atMedium {
			
			/* col-md-n */

			&__medium-1, &__medium-2, &__medium-3, &__medium-4, &__medium-5, &__medium-6, &__medium-7, &__medium-8, &__medium-9, &__medium-10, &__medium-11, &__medium-12 {
				float: left;
			}
			&__medium-12 {
				width: 100%;
			}
			&__medium-11 {
				width: 91.66666667%;
			}
			&__medium-10 {
				width: 83.33333333%;
			}
			&__medium-9 {
				width: 75%;
			}
			&__medium-8 {
				width: 66.66666667%;
			}
			&__medium-7 {
				width: 58.33333333%;
			}
			&__medium-6 {
				width: 50%;
			}
			&__medium-5 {
				width: 41.66666667%;
			}
			&__medium-4 {
				width: 33.33333333%;
			}
			&__medium-3 {
				width: 25%;
			}
			&__medium-2 {
				width: 16.66666667%;
			}
			&__medium-1 {
				width: 8.33333333%;
			}

			&__b-margin-until-medium {
					margin-bottom: 0;
			}

			/* END col-md-n*/
			
			/*$__medium--offset-n */

			&__medium--offset-12 {
				margin-left: 100%;
			}
			&__medium--offset-11 {
				margin-left: 91.66666667%;
			}
			&__medium--offset-10 {
				margin-left: 83.33333333%;
			}
			&__medium--offset-9 {
				margin-left: 75%;
			}
			&__medium--offset-8 {
				margin-left: 66.66666667%;
			}
			&__medium--offset-7 {
				margin-left: 58.33333333%;
			}
			&__medium--offset-6 {
				margin-left: 50%;
			}
			&__medium--offset-5 {
				margin-left: 41.66666667%;
			}
			&__medium--offset-4 {
				margin-left: 33.33333333%;
			}
			&__medium--offset-3 {
				margin-left: 25%;
			}
			&__medium--offset-2 {
				margin-left: 16.66666667%;
			}
			&__medium--offset-1 {
				margin-left: 8.33333333%;
			}
			&__medium--offset-0 {
				margin-left: 0;
			}

			/* END &__medium--offset-n */

			/*  */
			
			&--gutter-md {
				margin-right: -65px;
			}

			&--gutter-md > div {
				padding-right: 65px;
			}

			&--gutter-md-small {
				margin-right: -45px;
			}
		
			&--gutter-md-small > div {
				padding-right: 45px;
			}

		} /* END @mixin atMedium*/

		/* Equal hight rules*/

		&--equal-hight-at-medium {

			@mixin atMedium {
				display: flex;
			}

			& > div {
				float: none;
				display: flex;
			}

		}

		/*  END Equal hight rules*/

		&__b-margin-until-medium {
				margin-bottom: 1rem;
		}

		/* END atMedium =======================================*/

		/* atSmall ======================================= */
		@mixin atSmall {
		
		/* col-md-n */

		&__sm-1, &__sm-2, &__sm-3, &__sm-4, &__sm-5, &__sm-6, &__sm-7, &__sm-8, &__sm-9, &__sm-10, &__sm-11, &__sm-12 {
			float: left;
		}
		&__sm-12 {
			width: 100%;
		}
		&__sm-11 {
			width: 91.66666667%;
		}
		&__sm-10 {
			width: 83.33333333%;
		}
		&__sm-9 {
			width: 75%;
		}
		&__sm-8 {
			width: 66.66666667%;
		}
		&__sm-7 {
			width: 58.33333333%;
		}
		&__sm-6 {
			width: 50%;
		}
		&__sm-5 {
			width: 41.66666667%;
		}
		&__sm-4 {
			width: 33.33333333%;
		}
		&__sm-3 {
			width: 25%;
		}
		&__sm-2 {
			width: 16.66666667%;
		}
		&__sm-1 {
			width: 8.33333333%;
		}

		&__b-margin-until-sm {
				margin-bottom: 0;
		}

		/* END col-sm-n*/
		
		/*$__sm--offset-n */

		&__sm--offset-12 {
			margin-left: 100%;
		}
		&__sm--offset-11 {
			margin-left: 91.66666667%;
		}
		&__sm--offset-10 {
			margin-left: 83.33333333%;
		}
		&__sm--offset-9 {
			margin-left: 75%;
		}
		&__sm--offset-8 {
			margin-left: 66.66666667%;
		}
		&__sm--offset-7 {
			margin-left: 58.33333333%;
		}
		&__sm--offset-6 {
			margin-left: 50%;
		}
		&__sm--offset-5 {
			margin-left: 41.66666667%;
		}
		&__sm--offset-4 {
			margin-left: 33.33333333%;
		}
		&__sm--offset-3 {
			margin-left: 25%;
		}
		&__sm--offset-2 {
			margin-left: 16.66666667%;
		}
		&__sm--offset-1 {
			margin-left: 8.33333333%;
		}
		&__sm--offset-0 {
			margin-left: 0;
		}

		/* END &__sm--offset-n */

		/*  */
		
		&--gutter-sm {
			margin-right: -65px;
		}

		&--gutter-sm > div {
			padding-right: 65px;
		}

		&--gutter-sm-small {
			margin-right: -45px;
		}
	
		&--gutter-sm-small > div {
			padding-right: 45px;
		}

	} /* END @mixin atSmall*/

	/* atSmall ======================================= */

	/* atXSmall ======================================= */
	@mixin atXSmall {
	
		/* col-md-n */

		&__xs-1, &__xs-2, &__xs-3, &__xs-4, &__xs-5, &__xs-6, &__xs-7, &__xs-8, &__xs-9, &__xs-10, &__xs-11, &__xs-12 {
			float: left;
		}
		&__xs-12 {
			width: 100%;
		}
		&__xs-11 {
			width: 91.66666667%;
		}
		&__xs-10 {
			width: 83.33333333%;
		}
		&__xs-9 {
			width: 75%;
		}
		&__xs-8 {
			width: 66.66666667%;
		}
		&__xs-7 {
			width: 58.33333333%;
		}
		&__xs-6 {
			width: 50%;
		}
		&__xs-5 {
			width: 41.66666667%;
		}
		&__xs-4 {
			width: 33.33333333%;
		}
		&__xs-3 {
			width: 25%;
		}
		&__xs-2 {
			width: 16.66666667%;
		}
		&__xs-1 {
			width: 8.33333333%;
		}

		&__b-margin-until-xs {
				margin-bottom: 0;
		}

		/* END col-xs-n*/
		
		/*$__xs--offset-n */

		&__xs--offset-12 {
			margin-left: 100%;
		}
		&__xs--offset-11 {
			margin-left: 91.66666667%;
		}
		&__xs--offset-10 {
			margin-left: 83.33333333%;
		}
		&__xs--offset-9 {
			margin-left: 75%;
		}
		&__xs--offset-8 {
			margin-left: 66.66666667%;
		}
		&__xs--offset-7 {
			margin-left: 58.33333333%;
		}
		&__xs--offset-6 {
			margin-left: 50%;
		}
		&__xs--offset-5 {
			margin-left: 41.66666667%;
		}
		&__xs--offset-4 {
			margin-left: 33.33333333%;
		}
		&__xs--offset-3 {
			margin-left: 25%;
		}
		&__xs--offset-2 {
			margin-left: 16.66666667%;
		}
		&__xs--offset-1 {
			margin-left: 8.33333333%;
		}
		&__xs--offset-0 {
			margin-left: 0;
		}

		/* END &__xs--offset-n */

		/*  */
		
		&--gutter-xs {
			margin-right: -65px;
		}

		&--gutter-xs > div {
			padding-right: 65px;
		}

		&--gutter-xs-small {
			margin-right: -45px;
		}

		&--gutter-xs-small > div {
			padding-right: 45px;
		}

	} /* END @mixin atxsall*/

/* atXSmall ======================================= */

} /* END row */