

.container {

    padding-right: 100px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

footer p{
	text-align: center;
	color: #9E9E9E;

}

/* MEDIA ELEMENTS*/



@media only screen and  (min-width: 768px){

	.container {
    	width: 750px;

	}
}

@media only screen and (min-width: 992px){

	.container {
    	width: 970px;

	}

}

@media only screen and (min-width: 1200px){

	.container {
    	width: 1170px;
	}
}

.idiot {
	cursor: pointer;
}