<section id="two" class="wrapper style2">
    <header>
        <h2>Vestibulum Convallis</h2>
        <p>vehicula urna sed justo bibendum</p>
    </header>
    <div class="content">
        <div class="gallery">
            <div>
                <div class="image fit flush">
                    <a href="#"><img src="/about/images/pic03.jpg" alt="" /></a>
                </div>
            </div>
            <div>
                <div class="image fit flush">
                    <a href="#"><img src="/about/images/pic01.jpg" alt="" /></a>
                </div>
            </div>
            <div>
                <div class="image fit flush">
                    <a href="#"><img src="/about/images/pic04.jpg" alt="" /></a>
                </div>
            </div>
            <div>
                <div class="image fit flush">
                    <a href="#"><img src="/about/images/pic05.jpg" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</section>