<section id="three" class="wrapper">
    <div class="spotlight">
        <div class="image flush"><img src="/about/images/pic06.jpg" alt="" /></div>
        <div class="inner">
            <h3>Viverra Hendrerit</h3>
            <p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
        </div>
    </div>
    <div class="spotlight alt">
        <div class="image flush"><img src="/about/images/pic07.jpg" alt="" /></div>
        <div  class="inner">
            <h3>Curabitur Eget</h3>
            <p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
        </div>
    </div>
    <div class="spotlight">
        <div class="image flush"><img src="/about/images/pic08.jpg" alt="" /></div>
        <div class="inner">
            <h3>Morbi Eleifend</h3>
            <p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
        </div>
    </div>
</section>