<% include partials/_head.ejs %>
<body>
	<% include partials/_navbar.ejs %>
	<h1>Webiste Powered By Noide.JS</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam perspiciatis quis voluptatem qui nostrum facere ex quidem ipsa eius sequi consequuntur atque dolorem magni iste quod ab delectus totam, in.</p>
</body>
</html>