<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 - Webiste Powered By Noide.JS</title>
    <style>
        body{
            background-color: skyblue;
            font-family: verdana;
            color: #fff;
            padding: 30px;
        }
        h1{
            font-size: 38px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }
        p{
            font-size: 16px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>404</h1>
    <p>Oooops, Something went wrong I am sorry....</p>
    <img src="sly-chuck.jpg" alt="">
    <img src="margit-hid.jpg" alt="">
    <img src="baby-forecast.jpg" alt="">
</body>
</html>