<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>article - Webiste Powered By Noide.JS</title>
    <style>
        body{
            background-color: skyblue;
            font-family: verdana;
            color: #fff;
            padding: 30px;
        }
        h1{
            font-size: 38px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }
        p{
            font-size: 16px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>YOU ARE READING AN ARTICLE</h1>
    <p>HYHYHY</p>
    <img src="sly-chuckaaaa.jpg" alt="">
    <img src="margit-hid.jpg" alt="">
    <img src="baby-forecast.jpg" alt="">
</body>
</html>